
<ng-container [ngSwitch]="mode">
    
  <div *ngSwitchDefault>
    <div class="form-group">
    <label>Name:</label>
    <div class="form-control-static"> {{ playlist.name }} </div>
    </div>

    <div class="form-group">
    <label>Favourite:</label>
    <div class="form-control-static">
      {{ playlist.favourite ? 'Yes' : 'No'}} 
    </div>
    </div>

    <div class="form-group">
    <label>Color:</label>
    <div class="form-control-static" [style.color]="playlist.color"
    > {{ playlist.color }} </div>
    </div>

    <button class="btn btn-success" (click)="edit()">Edit</button>
  </div>
  
  <div *ngSwitchCase="MODES.edit">
    <div class="form-group">
      <label>Name:</label>
      <input class="form-control" [(ngModel)]="draft.name">
    </div>

    <div class="form-group">
      <label>Favourite:</label>
      <input type="checkbox" [(ngModel)]="draft.favourite">
    </div>

    <div class="form-group">
      <label>Color:</label>
      <input type="color" [(ngModel)]="draft.color">
    </div>

    <button class="btn btn-danger" (click)="cancel()">Cancel</button>
    <button class="btn btn-success" (click)="save()">Save</button>
  </div>

</ng-container>
