<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">

  <div class="container">
    <a class="navbar-brand" routerLink="">{{title}}</a>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" 
          routerLink="playlists" 
          routerLinkActive="active">
          Playlists
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" 
          routerLink="music" 
          routerLinkActive="active">
          Music Search
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col">
      <router-outlet>

      </router-outlet>

    </div>
  </div>
</div>