<!-- img.card-img-top+.card-body>h4.card-title{Title} -->

<img [src]="album.images[0].url"
  [width]="album.images[0].width"
 class="card-img-top">
<div class="card-body">
  <h4 class="card-title">
      {{album.name}}
  </h4>
</div>
